html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(85deg,#d64c7f,#ee4758 50%);
}

.scrollToTop {
	position: fixed;
    height: 45px;
    display: none;
    bottom: 20px;
    right: 20px;
    background-color: #585252;
    width: 45px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
	border: solid 1px #696868ab;
    cursor: pointer;
    
    i {
        color: whitesmoke;
    }
	
	&.active {
		display: flex;
	}
}

.section_hamburger{
    width: fit-content;
    position: absolute;
    top: 17px;
    left: 20px;
    i {
        font-weight: 300;
        font-size: 25px;
    }
}

.menu_mobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    transform: translateX(-105%);
    opacity: 0.8;
    transition: ease-in-out .45s;
    display: flex;

    &.active {
        transform: translateX(0);
        opacity: 1;
        transition: ease-in-out .45s;
    }
    .services_menu_mobile {
        width: 83%;
        background-color: whitesmoke;

        .bloc_all_services {
            padding: 10px;
            .each_services_mobile_menu {
                width: 90%;
                margin: 15px auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 0;
                border-bottom: solid 1px rgb(206, 206, 206);

                a {
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    color: rgb(31, 31, 31);

                    .icon_and_title {
                        display: flex;
                        padding: 10px 0;
                        align-items: center;
                    }

                    p {
                        margin: 0;
                        margin-left: 10px;
                        font-weight: bold;
                    }

                    .sub_explain {
                        font-weight: normal;
                        font-size: 13px;
                        margin-left: 0;
                        padding: 10px 0;
                    }

                    i {
                        font-size: 27px;
                        color: #ee4758;
                    }
                }
            }
        }
    }

    .close_menu_mobile {
        width: 17%;
        background-color: rgb(39, 39, 39);
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: whitesmoke;
            font-weight: 200;
            font-size: 25px;
        }
    }
}

.section_header {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}

.section_all {
    .section_presentation {
        width: 90%;
        margin: 0 auto;
        margin-top: 2.5rem;
        .title_fadeup {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            p {
                margin: 10px 10px 10px 0;
                font-size: 28px;
                font-weight: bold;
                color: whitesmoke;
            }
        }
        .explanation_agency {
            h1 {
                font-size: 17px;
                font-weight: 400;
                line-height: 1.55;
                margin-top: 20px;
                margin-bottom: 20px;
                color: rgb(248, 248, 248);
            }
            h3 {
                font-size: 15px;
                font-weight: 400;
                line-height: 1.55;
                margin-top: 35px;
                margin-bottom: 40px;
                color: rgb(248, 248, 248);
            }
        }
        .btn_contact {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                border: solid 1px rgb(247, 247, 247);
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 0;
                border-radius: 10px;
                width: 70%;
                font-family: 'Roboto', sans-serif;
                background-color: #ffffff;
                a {
                    text-decoration: none;
                    color: #ee4758;
                    font-weight: 600;
                }
                i {
                    font-size: 17px;
                    margin-left: 10px;
                    color: #585252;
                    margin-top: 2px;
                }
            }
        }
        .img_presentation {
            margin-top: 2.5rem;
            height: 300px;
            width: 100%;
            border-radius: 10px;
            background-color: #fff;
        }
    }
}