html {
	scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: linear-gradient(85deg,#d64c7f,#ee4758 50%);
}

.scrollToTop {
	position: fixed;
    height: 45px;
    display: none;
    bottom: 20px;
    right: 20px;
    background-color: #585252;
    width: 45px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
	border: solid 1px #696868ab;
    cursor: pointer;
    
    i {
        color: whitesmoke;
    }
	
	&.active {
		display: flex;
	}
}

.section_hamburger{
    width: fit-content;
    position: absolute;
    top: 17px;
    left: 20px;
    i {
        font-weight: 300;
        font-size: 25px;
    }

    @media(min-width:1024px) {
        display: none;
    }
}

.menu_mobile {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    transform: translateX(-105%);
    opacity: 0.8;
    transition: ease-in-out .45s;
    display: flex;

    &.active {
        transform: translateX(0);
        opacity: 1;
        transition: ease-in-out .45s;
    }
    .services_menu_mobile {
        width: 83%;
        background-color: whitesmoke;
        height: 100%;
        overflow-y: auto;

        .bloc_all_services {
            padding: 10px;
            .each_services_mobile_menu {
                width: 90%;
                margin: 15px auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px 0;
                border-bottom: solid 1px rgb(206, 206, 206);

                @media(min-width:768px) {
                    align-items: initial;
                }

                a {
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    color: rgb(31, 31, 31);

                    .icon_and_title {
                        display: flex;
                        padding: 10px 0;
                        align-items: center;
                    }

                    p {
                        margin: 0;
                        margin-left: 10px;
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .sub_explain {
                        font-weight: 300;
                        font-size: 13px;
                        margin-left: 0;
                        padding: 10px 0;
                    }

                    i {
                        font-size: 27px;
                        color: #ee4758;
                    }
                }
            }
        }
        .block_others {
            margin-left: 24px;
            display: flex;
            flex-direction: column;

            @media(min-width:768px) {
                margin-left: 40px;
            }
            a {
                text-decoration: none;
                color: #1f1f1f;
                font-weight: bold;
                margin-bottom: 20px;
            }
        }

        .bloc_contactUs {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            button {
                border: solid 1px #ee4758;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 0;
                border-radius: 25px;
                width: 70%;
                font-family: 'Roboto', sans-serif;
                //background-color: #ee4758;
                background: linear-gradient(85deg,#d64c7f,#ee4758 50%);
                position: relative;

                @media(min-width:768px) {
                    width: 35%;
                }

                a {
                    text-decoration: none;
                    color: whitesmoke;
                    font-weight: 600;
                }
                i {
                    font-size: 17px;
                    margin-left: 10px;
                    color: #303030;
                    margin-top: 1px;
                    -webkit-animation:linear infinite alternate;
                    -webkit-animation-name: run;
                    -webkit-animation-duration: 2s;
                    position: absolute;
                }

                @-webkit-keyframes run {
                    0% { left: 72%;}
                    50%{ left : 74%;}
                    100%{ left: 72%;}
                }
            }
        }

        .bloc_socialMedia {
            margin-top: 40px;
            width: 100%;
            text-align: center;

            i {
                color: rgb(43, 43, 43);
                padding: 10px;
                font-size: 30px;
            }
        }
    }

    .close_menu_mobile {
        width: 17%;
        background-color: #717171cc;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: whitesmoke;
            font-weight: 200;
            font-size: 25px;
        }
    }
}

.section_header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;

    @media(min-width:1024px) {
        width: 90%;
        margin: 10px auto;
        justify-content: space-between;
    }

    @media(min-width:1440px) {
        margin: 20px auto;
        width: 63%;
    }

    .menu_desktop {
        display: none;
        @media(min-width:1024px) {
            display: flex;
        }

        .all_links {
            display: flex;
            align-items: center;
            .services {
                font-size: 15px;
                letter-spacing: .8px;
                margin-right: 35px;
                font-weight: normal;
                cursor: pointer;

                &:hover {
                    color: rgb(53, 53, 53);
                }
            }
            a {
                text-decoration: none;
                font-size: 15px;
                letter-spacing: .8px;
                color: whitesmoke;
                margin-right: 35px;
                font-weight: normal;

                &:hover {
                    color: rgb(53, 53, 53);
                }
            }
        }
    }

    .btn_contact_desktop {
        display: none;

        @media(min-width:1024px) {
            display: flex;
            cursor: pointer;
        }

        button {
            border: solid 1px #303030;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            padding: 10px 25px;
            font-family: 'Roboto', sans-serif;
            background-color: #303030;
            position: relative;
            cursor: pointer;

            &:hover {
                background-color: whitesmoke;
                border-color: whitesmoke;
                transition: ease-in .1s;

                a {
                    color: #ee4758 !important;
                }
            }

            a {
                text-decoration: none;
                color: #f0f0f0;
                font-weight: 600;
            }
        }
    }
}

.section_all {
    .section_presentation {
        width: 90%;
        margin: 0 auto;
        margin-top: 2.5rem;

        @media(min-width:768px) {
            text-align: center;
        }

        @media(min-width:1440px) {
            width: 63%;
            margin-top: 4rem;
        }

        .title_fadeup {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            @media(min-width:768px) {
                justify-content: center;
            }

            p {
                margin: 6px 10px 6px 0;
                font-size: 32px;
                font-weight: bold;
                color: whitesmoke;

                @media(min-width:768px) {
                    font-size: 45px;
                }

                @media(min-width:1440px) {
                    font-size: 60px;
                }
            }
        }
        .explanation_agency {
            h1 {
                font-size: 17px;
                font-weight: 400;
                line-height: 1.5;
                margin-top: 20px;
                margin-bottom: 20px;
                color: rgb(248, 248, 248);

                @media(min-width:768px) {
                    font-size: 19px;
                }

                @media(min-width:1024px) {
                    width: 70%;
                    margin: 20px auto;
                }
            }
            h3 {
                font-size: 15px;
                font-weight: 400;
                line-height: 1.5;
                margin-top: 35px;
                margin-bottom: 40px;
                color: rgb(248, 248, 248);

                @media(min-width:768px) {
                    font-size: 17px;
                }
            }
        }
        .btn_contact {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                border: solid 1px #303030;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 15px 70px;
                border-radius: 25px;
                width: fit-content;
                font-family: 'Roboto', sans-serif;
                background-color: #303030;
                position: relative;

                a {
                    text-decoration: none;
                    color: #f0f0f0;
                    font-weight: 600;
                }
                i {
                    font-size: 17px;
                    margin-left: 10px;
                    color: #eeeeee;
                    margin-top: 0px;
                    -webkit-animation:linear infinite alternate;
                    -webkit-animation-name: run;
                    -webkit-animation-duration: 2s;
                    position: absolute;
                }

                @-webkit-keyframes run {
                    0% { left: 72%;}
                    50%{ left : 74%;}
                    100%{ left: 72%;}
                }
            }
        }
        .img_presentation {
            margin-top: 2.5rem;
            height: 300px;
            width: 100%;
            border-radius: 10px;
            background-color: #fff;
        }
    }
}