html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #535353;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #535353;
}

[class*=reveal-] {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible {
  opacity: 1;
  transform: translateY(0);
  transition: 1.5s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-2 {
  transition-delay: 0.1s;
}

.reveal-3 {
  transition-delay: 0.2s;
}

.dark_mode_menu_active {
  position: fixed;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.644);
  display: flex;
  z-index: -10;
  width: 100%;
  opacity: 0;
}
.dark_mode_menu_active.active {
  display: flex;
  z-index: 10;
  opacity: 1;
}

.scrollToTop {
  position: fixed;
  height: 40px;
  display: flex;
  opacity: 0;
  bottom: 20px;
  right: 20px;
  background-color: #2B2B2B;
  width: 40px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: solid 1px #696868ab;
  cursor: pointer;
  z-index: 99999;
  transition: ease-in 0.2s;
}
.scrollToTop i {
  color: whitesmoke;
}
.scrollToTop.active {
  display: flex;
  opacity: 1;
  transition: ease-in 0.4s;
}
.scrollToTop:hover {
  transition: ease-in 0.2s;
}

.menu_mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  visibility: hidden;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #fff;
  transform: translateY(-10px);
  transition: all 0.375s ease-in-out;
  opacity: 0;
}
.menu_mobile.active {
  visibility: visible;
  background-color: #ffffff;
  transform: translateY(0);
  transition: all 0.375s ease-in-out;
  opacity: 1;
}
.menu_mobile .services_menu_mobile {
  height: fit-content;
  overflow-y: auto;
  margin: 0 auto;
  margin-top: 18px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
}
.menu_mobile .services_menu_mobile img {
  position: absolute;
  top: 5px;
  right: 20px;
}
.menu_mobile .services_menu_mobile .bloc_all_services {
  padding: 30px 10px 10px;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu {
    align-items: initial;
  }
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #1f1f1f;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a .icon_and_title {
  display: flex;
  padding: 10px 0;
  align-items: center;
  color: #24292e;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a .icon_and_title .vector_mobile {
  width: 40px;
  position: relative;
  top: 0;
  right: 0;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a p {
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a .sub_explain {
  font-weight: 400;
  font-size: 13px;
  margin-left: 0;
  padding: 0;
  width: 85%;
  line-height: 19px;
  color: #8b959e;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a i {
  font-size: 16px;
  color: #2fd1bb;
}
.menu_mobile .services_menu_mobile .block_others {
  margin-left: 13%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .block_others {
    margin-left: 40px;
  }
}
.menu_mobile .services_menu_mobile .block_others a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
  margin-bottom: 13px;
  font-size: 15px;
}
.menu_mobile .services_menu_mobile .bloc_contactUs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.menu_mobile .services_menu_mobile .bloc_contactUs button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: #303030;
  font-weight: 700;
  background: #76FFA5;
  position: relative;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .bloc_contactUs button {
    width: 35%;
  }
}
.menu_mobile .services_menu_mobile .bloc_socialMedia {
  margin-top: 35px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.menu_mobile .services_menu_mobile .bloc_socialMedia i {
  color: #6a737d;
  font-size: 22px;
  margin: 0 5px;
}

.block_popup_contact_mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  visibility: hidden;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-line-pack: center;
  align-content: center;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
  transform: translateY(-10px);
  transition: all 0.375s ease-in-out;
  opacity: 0;
}
.block_popup_contact_mobile.open {
  visibility: visible;
  background-color: #ffffff;
  transform: translateY(0);
  transition: all 0.375s ease-in-out;
  opacity: 1;
}
.block_popup_contact_mobile .popup_contact_mobile {
  background-color: white;
  height: fit-content;
  width: 100%;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .block_popup_contact_mobile .popup_contact_mobile {
    height: fit-content;
    border-radius: 10px;
  }
}
@media (min-width: 1024px) {
  .block_popup_contact_mobile .popup_contact_mobile {
    background-color: white;
    height: fit-content;
    border-radius: 10px;
  }
}
.block_popup_contact_mobile .popup_contact_mobile::-webkit-scrollbar {
  display: none;
}
.block_popup_contact_mobile .popup_contact_mobile img {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.block_popup_contact_mobile .popup_contact_mobile .title {
  text-align: left;
  font-size: 28px;
  padding: 2rem 0;
  font-weight: 500;
  width: 80%;
  color: #24292e;
  margin: 2rem auto 0;
}
@media (min-width: 768px) {
  .block_popup_contact_mobile .popup_contact_mobile .title {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .block_popup_contact_mobile .popup_contact_mobile .title {
    width: 40%;
  }
}
@media (min-width: 1370px) {
  .block_popup_contact_mobile .popup_contact_mobile .title {
    width: 35%;
  }
}
.block_popup_contact_mobile .popup_contact_mobile .explain {
  text-align: left;
  margin: 1rem auto 3.5rem;
  width: 80%;
  font-size: 14px;
  line-height: 21px;
  color: #6a737d;
}
@media (min-width: 768px) {
  .block_popup_contact_mobile .popup_contact_mobile .explain {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .block_popup_contact_mobile .popup_contact_mobile .explain {
    width: 40%;
  }
}
@media (min-width: 1370px) {
  .block_popup_contact_mobile .popup_contact_mobile .explain {
    width: 35%;
  }
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact {
    width: 40%;
  }
}
@media (min-width: 1370px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact {
    width: 35%;
  }
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control legend {
  font-size: 13px;
  color: #6a737d;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control.success input {
  border-bottom-color: #47ff95;
  font-family: "Roboto", sans-serif;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control.success .fa-check-circle {
  color: #47ff95;
  visibility: visible;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control.success small {
  visibility: visible;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control.error input {
  border-bottom-color: #fb6f60;
  font-family: "Roboto", sans-serif;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control.error .fa-exclamation-circle {
  color: #fb6f60;
  visibility: visible;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control.error small {
  visibility: visible;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control small {
  color: #fb6f60;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  font-family: "Roboto", sans-serif;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control input {
  border: none;
  border-bottom: solid 1px #cacaca;
  padding: 8px;
  width: 95%;
  font-family: "Roboto", sans-serif;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control input:focus {
  outline: 0;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control i {
  visibility: hidden;
  position: absolute;
  top: 6px;
  right: 4px;
}
@media (min-width: 375px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control i {
    top: 6px;
    right: 10px;
  }
}
@media (min-width: 768px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control i {
    top: 10px;
    right: 30px;
  }
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control i.icon_select {
  top: 26px;
  right: 23px;
}
@media (min-width: 768px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control i.icon_select {
    top: 34px;
    right: 45px;
  }
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control select {
  margin: 8px 0 1rem 0;
  width: 100%;
  padding: 10px;
  border: solid 1px #cacaca;
  font-size: 12px;
  font-weight: 700;
  color: #24292e;
  font-family: "Roboto", sans-serif;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control select option {
  font-size: 12px;
  font-weight: 700;
  color: #24292e;
  font-family: "Roboto", sans-serif;
}
@media (min-width: 768px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control select {
    width: 97%;
  }
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control textarea {
  width: 93%;
  height: 200px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  border: solid 1px #cacaca;
  color: #24292e;
}
@media (min-width: 1024px) {
  .block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .form_control textarea {
    height: 120px;
  }
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .btn_contact_mobile {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  cursor: not-allowed !important;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .btn_contact_mobile button {
  background: #76FFA5;
  border-radius: 5px;
  padding: 10px 30px;
  display: flex;
  margin-top: 1rem;
  font-size: 14px;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 150.7%;
  color: #303030;
  font-family: "Roboto", sans-serif;
  border: none;
  font-weight: 700;
  border: solid 1px transparent;
  cursor: not-allowed !important;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .btn_contact_mobile button:hover {
  box-shadow: 0 4px 8px rgba(212, 212, 212, 0.74);
  transition: ease-in 0.1s;
  border: solid 1px #76FFA5;
  background-color: white;
}
.block_popup_contact_mobile .popup_contact_mobile .formulaire_contact .btn_contact_mobile button:focus {
  outline: none;
}

.social_media_link {
  position: fixed;
  top: 25%;
  right: 2%;
  display: none;
}
@media (min-width: 1024px) {
  .social_media_link {
    display: block;
    z-index: 3;
  }
}
.social_media_link .each_social {
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.social_media_link .each_social i {
  padding: 3px;
}
.social_media_link .each_social.fb {
  background-color: #4267B2;
}
.social_media_link .each_social.insta {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.social_media_link .each_social.twitter {
  background-color: #1DA1F2;
}

.section_top_presentation {
  width: 100%;
  margin-bottom: 27rem;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .section_top_presentation {
    margin-bottom: 13rem;
  }
}
@media (min-width: 1024px) {
  .section_top_presentation {
    margin-bottom: 13rem;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation {
    margin-bottom: 16rem;
  }
}
@media (min-width: 1650px) {
  .section_top_presentation {
    margin-bottom: 18rem;
  }
}
.section_top_presentation .header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  background: #191c1f;
  color: white;
}
.section_top_presentation .header .inside_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .section_top_presentation .header .inside_header {
    width: 75%;
    margin: 0 auto;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation .header .inside_header {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .section_top_presentation .header .inside_header .name_company {
    width: 20%;
  }
}
.section_top_presentation .header .inside_header .icon_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .section_top_presentation .header .inside_header .icon_menu {
    display: none;
  }
}
.section_top_presentation .header .inside_header .link_header {
  display: none;
}
@media (min-width: 768px) {
  .section_top_presentation .header .inside_header .link_header {
    display: flex;
    width: 60%;
    justify-content: center;
  }
}
.section_top_presentation .header .inside_header .link_header .each_link_header {
  margin: 0 10px;
  cursor: pointer;
  position: relative;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .arrow_top_header {
  transition: ease-in 0.2s;
  position: relative;
  top: -1px;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .arrow_top_header.return {
  transform: rotate(180deg);
  transition: ease-in 0.2s;
  color: #91caff;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet {
  position: absolute;
  background-color: white;
  border: solid 1px #eaeaea;
  top: 37px;
  width: 655px;
  left: -244px;
  padding: 2.5rem 3rem;
  border-radius: 5px;
  z-index: 9;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin-top: 20px;
}
@media (min-width: 1370px) {
  .section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet {
    width: 800px;
    left: -312px;
  }
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet.open {
  box-shadow: 0 10px 20px #e8e8e891;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  transform: rotateX(0deg);
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet {
  color: #191c1f;
  padding: 1rem;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet:nth-child(3) {
  margin: 0 25px;
}
@media (min-width: 1370px) {
  .section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet:nth-child(3) {
    margin: 0;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet {
    width: 30%;
  }
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet:hover {
  background-color: #ecfbff;
  border-radius: 4px;
  transition: ease-in 0.2s;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet .top_each_hover {
  display: flex;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet .top_each_hover .img_services {
  margin-bottom: 15px;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet .top_each_hover .img_services img {
  width: 40px;
  height: 40px;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet .title_each_hover {
  font-weight: 600;
  color: #191c1f;
  margin-bottom: 13px;
  font-size: 15px;
}
.section_top_presentation .header .inside_header .link_header .each_link_header .hover_menu_tablet .each_services_menu_tablet .bottom_each_hover {
  font-size: 13px;
  color: #6a737d;
  font-weight: 300;
  line-height: 20px;
}
.section_top_presentation .header .inside_header .link_header .each_link_header a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.section_top_presentation .header .inside_header .link_header .each_link_header a:hover {
  color: #91caff;
}
.section_top_presentation .header .inside_header .link_header .each_link_header span {
  color: white;
  font-size: 14px;
}
.section_top_presentation .header .inside_header .link_header .each_link_header span:hover {
  color: #91caff;
}
.section_top_presentation .header .inside_header .link_header .each_link_header img {
  margin-left: 5px;
  height: 7px;
}
.section_top_presentation .header .inside_header .contact_header {
  display: none;
}
@media (min-width: 768px) {
  .section_top_presentation .header .inside_header .contact_header {
    display: flex;
    width: 20%;
    justify-content: flex-end;
  }
  .section_top_presentation .header .inside_header .contact_header button {
    border: 1px solid #ffffff00;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 9px 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    outline: none;
  }
  .section_top_presentation .header .inside_header .contact_header button img {
    margin-left: 3px;
    transition: ease-in 0.1s;
  }
  .section_top_presentation .header .inside_header .contact_header button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transition: ease-in 0.2s;
  }
  .section_top_presentation .header .inside_header .contact_header button:hover img {
    margin-left: 7px;
    transition: ease-in 0.1s;
  }
}
.section_top_presentation .explain {
  width: 100%;
  margin: 20px auto;
}
@media (min-width: 768px) {
  .section_top_presentation .explain {
    width: 72%;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .section_top_presentation .explain {
    margin-top: 2.5rem;
    width: 72%;
  }
}
@media (min-width: 1024px) {
  .section_top_presentation .explain {
    margin-top: 7rem;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation .explain {
    width: 65%;
    margin-top: 8rem;
  }
}
@media (min-width: 1650px) {
  .section_top_presentation .explain {
    width: 55%;
  }
}
.section_top_presentation .explain .title h1 {
  padding: 1rem 1.5rem;
  margin: 0;
  font-size: 41px;
  color: #191c1f;
  font-weight: 700;
  line-height: 52px;
}
@media (min-width: 768px) {
  .section_top_presentation .explain .title h1 {
    font-size: 57px;
    line-height: 67px;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .section_top_presentation .explain .title h1 {
    margin-bottom: 1.7rem;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation .explain .title h1 {
    font-size: 70px;
    line-height: 80px;
  }
}
@media (min-width: 1650px) {
  .section_top_presentation .explain .title h1 {
    font-size: 80px;
    line-height: 86px;
  }
}
.section_top_presentation .explain .subtitle h2 {
  padding: 1rem 1.5rem;
  font-size: 17px;
  line-height: 26px;
  margin: 0;
  color: #8b959e;
  font-weight: 400;
}
@media (min-width: 768px) {
  .section_top_presentation .explain .subtitle h2 {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .section_top_presentation .explain .subtitle h2 {
    margin-bottom: 1.7rem;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation .explain .subtitle h2 {
    width: 80%;
    margin: 0 auto 1.7rem;
  }
}
@media (min-width: 1650px) {
  .section_top_presentation .explain .subtitle h2 {
    width: 70%;
  }
}
.section_top_presentation .explain .block_btn {
  padding: 1rem 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .section_top_presentation .explain .block_btn {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .section_top_presentation .explain .block_btn {
    width: 70%;
    margin: 0 auto;
  }
}
.section_top_presentation .explain .block_btn .contact_btn {
  background: #76FFA5;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150.7%;
  color: #303030;
  border: solid 1px transparent;
  font-weight: 700;
  cursor: pointer;
}
.section_top_presentation .explain .block_btn .contact_btn:hover {
  background: white;
  border: solid 1px #76FFA5;
  transition: ease-in 0.1s;
}
.section_top_presentation .explain .block_btn .contact_btn:hover .arrow_btn {
  margin-left: 19px;
  transition: ease-in 0.1s;
}
@media (min-width: 768px) {
  .section_top_presentation .explain .block_btn .contact_btn {
    width: 45%;
    font-size: 13px;
    align-items: center;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation .explain .block_btn .contact_btn {
    font-size: 14px;
  }
}
.section_top_presentation .explain .block_btn .contact_btn .arrow_btn {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .section_top_presentation .explain .block_btn .contact_btn .arrow_btn {
    height: 13px;
    width: 13px;
  }
  .section_top_presentation .explain .block_btn .contact_btn .arrow_btn.header_btn {
    height: 15px;
    width: 15px;
  }
}
.section_top_presentation .explain .block_btn .tarif_btn {
  margin-top: 1rem;
  background: #FFFFFF;
  border: 1px solid #76FFA5;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  font-size: 14px;
  justify-content: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 150.7%;
  color: #303030;
  font-weight: 500;
  cursor: pointer;
}
.section_top_presentation .explain .block_btn .tarif_btn:hover {
  background: #76FFA5;
  border: solid 1px transparent;
  color: #303030;
  transition: ease-in 0.1s;
}
.section_top_presentation .explain .block_btn .tarif_btn:hover .arrow_btn {
  margin-left: 19px;
  transition: ease-in 0.1s;
}
@media (min-width: 768px) {
  .section_top_presentation .explain .block_btn .tarif_btn {
    width: 45%;
    font-size: 13px;
    margin-top: 0;
    align-items: center;
  }
}
@media (min-width: 1370px) {
  .section_top_presentation .explain .block_btn .tarif_btn {
    font-size: 14px;
  }
}
.section_top_presentation .explain .block_btn .tarif_btn .arrow_btn {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .section_top_presentation .explain .block_btn .tarif_btn .arrow_btn {
    height: 13px;
    width: 13px;
  }
}

.section_about_us {
  max-width: 100%;
  padding: 1rem 1.5rem;
  margin: 4rem 0;
  position: relative;
}
@media (min-width: 768px) {
  .section_about_us {
    width: 70%;
    margin: 5rem auto 4rem;
  }
}
@media (min-width: 1024px) {
  .section_about_us {
    width: 72%;
  }
}
@media (min-width: 1370px) {
  .section_about_us {
    width: 58%;
  }
}
@media (min-width: 1650px) {
  .section_about_us {
    width: 50%;
  }
}
.section_about_us .top_blue {
  position: absolute;
  background: #0075eb8c;
  border-radius: 10px;
  height: 100px;
  width: 150px;
  z-index: 2;
  top: 3px;
  right: 10px;
  display: none;
}
.section_about_us .bottom_blue {
  position: absolute;
  background: #0075eb8c;
  border-radius: 10px;
  height: 150px;
  width: 200px;
  z-index: 2;
  bottom: 3px;
  left: 10px;
  display: none;
}
@media (min-width: 768px) {
  .section_about_us .bottom_blue {
    width: 300px;
  }
}
.section_about_us .block_all_about_us {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  box-shadow: 5px 4px 20px rgba(153, 153, 153, 0.25);
  border-radius: 10px;
  padding: 2rem 1.5rem;
  z-index: 3;
}
@media (min-width: 1370px) {
  .section_about_us .block_all_about_us .top_about_us {
    width: 50%;
    margin: 0 auto;
  }
}
.section_about_us .block_all_about_us .top_about_us h3 {
  font-size: 22px;
  color: #24292e;
  text-align: center;
  line-height: 30px;
  margin: 0 0 3rem 0;
}
@media (min-width: 1650px) {
  .section_about_us .block_all_about_us .top_about_us h3 {
    font-size: 22px;
    line-height: 30px;
  }
}
.section_about_us .block_all_about_us .bottom_about_us {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .section_about_us .block_all_about_us .bottom_about_us {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .section_about_us .block_all_about_us .bottom_about_us .review_client {
    width: 45%;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    box-shadow: 0px 4px 20px rgba(243, 243, 243, 0.25);
    border-radius: 10px;
    padding: 25px 20px;
  }
}
@media (min-width: 1650px) {
  .section_about_us .block_all_about_us .bottom_about_us .review_client {
    padding: 1rem;
  }
}
.section_about_us .block_all_about_us .bottom_about_us .review_client:first-child {
  margin-bottom: 1.3rem;
}
@media (min-width: 1024px) {
  .section_about_us .block_all_about_us .bottom_about_us .review_client:first-child {
    margin-bottom: 0;
  }
}
.section_about_us .block_all_about_us .bottom_about_us .review_client .top_review {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.section_about_us .block_all_about_us .bottom_about_us .review_client .top_review .photo_client {
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-color: #414141;
  margin-right: 10px;
}
.section_about_us .block_all_about_us .bottom_about_us .review_client .top_review .photo_client img {
  width: 100%;
  border-radius: 20px;
}
.section_about_us .block_all_about_us .bottom_about_us .review_client .top_review .name_client {
  color: #24292e;
  font-size: 15px;
}
@media (min-width: 1650px) {
  .section_about_us .block_all_about_us .bottom_about_us .review_client .top_review .name_client {
    font-size: 16px;
  }
}
.section_about_us .block_all_about_us .bottom_about_us .review_client .bottom_review p {
  font-size: 13px;
  line-height: 20px;
  font-style: normal;
  font-weight: 300;
  color: #6a737d;
}
@media (min-width: 1650px) {
  .section_about_us .block_all_about_us .bottom_about_us .review_client .bottom_review p {
    font-size: 16px;
    line-height: 26px;
  }
}

.section_what_we_do {
  max-width: 100%;
  padding: 1rem 1.5rem;
  color: #24292e;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .section_what_we_do {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .section_what_we_do {
    justify-content: space-around;
  }
}
@media (min-width: 1370px) {
  .section_what_we_do {
    width: 76%;
    margin: 0 auto;
  }
}
.section_what_we_do .block_each_wwd {
  padding: 4rem 0rem;
  margin-bottom: 3rem;
  position: relative;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_what_we_do .block_each_wwd {
    width: 25%;
  }
}
.section_what_we_do .block_each_wwd .little_icon_wwd {
  margin-bottom: 15px;
}
.section_what_we_do .block_each_wwd .little_icon_wwd img {
  width: 40px;
}
.section_what_we_do .block_each_wwd .title h3 {
  margin: 0 0 15px;
  z-index: 4;
  font-size: 22px;
  text-align: left;
  color: #24292e;
  position: relative;
  border-left: solid 1px #62e7ff;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .section_what_we_do .block_each_wwd .title h3 {
    font-size: 18px;
  }
}
@media (min-width: 1370px) {
  .section_what_we_do .block_each_wwd .title h3 {
    font-size: 22px;
  }
}
.section_what_we_do .block_each_wwd .description p {
  font-size: 15px;
  z-index: 4;
  color: #24292e;
  line-height: 22px;
  position: relative;
}
@media (min-width: 768px) {
  .section_what_we_do .block_each_wwd .description p {
    font-size: 14px;
  }
}
@media (min-width: 1370px) {
  .section_what_we_do .block_each_wwd .description p {
    font-size: 14px;
    line-height: 22px;
  }
}

.section_chiffres {
  max-width: 90%;
  padding: 1rem 0;
  margin: 0 auto 7rem;
  box-shadow: 0 5px 30px rgba(60, 80, 170, 0.1);
  background-color: #fff;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_chiffres {
    width: 90%;
    margin: 0rem auto 7rem;
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .section_chiffres {
    width: 65%;
    margin-bottom: 9rem;
  }
}
@media (min-width: 1370px) {
  .section_chiffres {
    margin-bottom: 12rem;
    width: 55%;
  }
}
.section_chiffres .each_chiffres {
  display: flex;
  margin-bottom: 2.5rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .section_chiffres .each_chiffres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-bottom: 0;
  }
}
.section_chiffres .each_chiffres .symbole_chiffre img {
  width: 55px;
}
.section_chiffres .each_chiffres .top_chiffres {
  font-weight: 700;
  color: #24292e;
}
.section_chiffres .each_chiffres .top_chiffres span {
  font-size: 25px;
}
.section_chiffres .each_chiffres .top_chiffres span.number_scroll {
  font-size: 35px;
}
@media (min-width: 768px) {
  .section_chiffres .each_chiffres .top_chiffres span.number_scroll {
    font-size: 25px;
  }
}
@media (min-width: 1370px) {
  .section_chiffres .each_chiffres .top_chiffres span.number_scroll {
    font-size: 30px;
  }
}
.section_chiffres .each_chiffres .bottom_chiffres {
  color: #24292e;
  font-size: 14px;
}
@media (min-width: 768px) {
  .section_chiffres .each_chiffres .bottom_chiffres {
    text-align: center;
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  .section_chiffres .each_chiffres .bottom_chiffres {
    font-size: 14px;
  }
}

.section_services {
  max-width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 5rem;
}
@media (min-width: 1024px) {
  .section_services {
    padding: 1rem 0;
  }
}
@media (min-width: 1370px) {
  .section_services {
    margin-bottom: 4rem;
  }
}
.section_services .big_title_services {
  margin-bottom: 3rem;
}
.section_services .big_title_services h3 {
  font-size: 33px;
  color: #24292e;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .section_services .big_title_services h3 {
    text-align: center;
  }
}
.section_services .big_title_services .subtitle {
  font-size: 16px;
  color: #24292e;
  text-align: left;
  line-height: 23px;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .section_services .big_title_services .subtitle {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .section_services .big_title_services .subtitle {
    width: 60%;
  }
}
@media (min-width: 1370px) {
  .section_services .big_title_services .subtitle {
    width: 45%;
  }
}
.section_services .block_big_inside_services .each_services {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
@media (min-width: 768px) {
  .section_services .block_big_inside_services .each_services {
    width: 85%;
    margin: 0 auto;
    padding: 6rem 0;
  }
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services {
    flex-direction: row;
    margin: 0 0 5.5rem;
    width: 100%;
    align-items: center;
  }
  .section_services .block_big_inside_services .each_services.revert_service_flex {
    flex-direction: row-reverse;
  }
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations {
    margin-left: 0;
    margin-right: 5%;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations {
    width: 38%;
  }
}
@media (min-width: 1024px) and (min-width: 1370px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations {
    width: 37%;
  }
}
@media (min-width: 1024px) and (min-width: 1650px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations {
    width: 28%;
  }
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations .description {
    color: #191c1f;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
  }
}
@media (min-width: 1024px) and (min-width: 768px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations .description {
    line-height: 25px;
  }
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations .description p {
    color: #8b959e;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
  }
}
@media (min-width: 1024px) and (min-width: 768px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations .description p {
    line-height: 25px;
  }
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations .description ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 15px 0 0 0;
    font-weight: 600;
    color: #191c1f;
  }
  .section_services .block_big_inside_services .each_services.revert_service_flex .block_for_all_informations .description ul li {
    margin: 12px 0px;
  }
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services.revert_service_flex .list_of_tags .each_tags {
    margin-right: 6px;
    margin-left: 0px !important;
  }
}
.section_services .block_big_inside_services .each_services .block_img_service {
  height: 290px;
  width: 100%;
  background-color: #5598FF;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section_services .block_big_inside_services .each_services .block_img_service {
    height: 410px;
  }
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services .block_img_service {
    width: 50%;
    height: 480px;
  }
}
@media (min-width: 1370px) {
  .section_services .block_big_inside_services .each_services .block_img_service {
    height: 480px;
  }
}
@media (min-width: 1650px) {
  .section_services .block_big_inside_services .each_services .block_img_service {
    height: 575px;
  }
}
.section_services .block_big_inside_services .each_services .block_img_service img {
  width: 100%;
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services .block_for_all_informations {
    width: 35%;
    margin-left: 5%;
  }
}
@media (min-width: 1024px) {
  .section_services .block_big_inside_services .each_services .block_for_all_informations {
    width: 38%;
  }
}
@media (min-width: 1370px) {
  .section_services .block_big_inside_services .each_services .block_for_all_informations {
    width: 37%;
  }
}
@media (min-width: 1650px) {
  .section_services .block_big_inside_services .each_services .block_for_all_informations {
    width: 28%;
  }
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .title {
  margin: 15px 0 0 0;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .title h2 {
  color: #191c1f;
  font-size: 25px;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .description {
  color: #191c1f;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .section_services .block_big_inside_services .each_services .block_for_all_informations .description {
    line-height: 25px;
  }
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .description p {
  color: #8b959e;
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .section_services .block_big_inside_services .each_services .block_for_all_informations .description p {
    line-height: 25px;
  }
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .description ul {
  list-style: none;
  margin: 0 0 20px 0;
  padding: 15px 0 0 0;
  font-weight: 600;
  color: #191c1f;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .description ul li {
  margin: 12px 0px;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .description ul li span {
  margin-right: 8px;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .list_of_tags {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .list_of_tags .each_tags {
  font-size: 15px;
  color: #4ab36f;
  background: #f6fff9;
  border: 1px solid #76FFA5;
  box-sizing: border-box;
  border-radius: 4px;
  width: fit-content;
  padding: 4px 8px;
  margin-right: 6px;
  margin-bottom: 10px;
  font-weight: 300;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .see_tarifs_service {
  margin-top: 15px;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .see_tarifs_service a {
  font-size: 15px;
  color: #0075eb;
  text-decoration: none;
  padding-bottom: 2px;
  line-height: 22px;
  position: relative;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .see_tarifs_service a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -4px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #0075eb;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .see_tarifs_service a:hover::after {
  width: 100%;
  left: 0;
}
.section_services .block_big_inside_services .each_services .block_for_all_informations .see_tarifs_service span {
  margin-left: 10px;
}

.section_our_work {
  padding: 1rem 1.5rem;
  margin-bottom: 10.5rem;
  max-width: 100% !important;
}
@media (min-width: 768px) {
  .section_our_work {
    max-width: 80% !important;
    margin: 0 auto 10.5rem;
    padding: 1rem 0;
  }
}
@media (min-width: 1370px) {
  .section_our_work {
    max-width: 76% !important;
  }
}
.section_our_work h3 {
  font-size: 33px;
  color: #24292e;
  font-weight: 700;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section_our_work h3 {
    text-align: center;
    margin-bottom: 35px;
  }
}
.section_our_work .carrousel_our_work {
  width: 109%;
  overflow-x: auto;
  white-space: nowrap;
  font-size: 0;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  .section_our_work .carrousel_our_work {
    width: 100%;
  }
}
.section_our_work .carrousel_our_work::-webkit-scrollbar {
  width: 1px;
}
.section_our_work .carrousel_our_work .each_our_work {
  width: 215px;
  height: 300px;
  display: inline-block;
  margin-right: 20px;
  background-color: #9debff;
  cursor: pointer;
}
.section_our_work .carrousel_our_work .each_our_work:hover {
  background-color: #75e3ff;
}
@media (min-width: 768px) {
  .section_our_work .carrousel_our_work .each_our_work {
    width: 240px;
    height: 345px;
  }
}
@media (min-width: 1370px) {
  .section_our_work .carrousel_our_work .each_our_work {
    width: 270px;
    height: 400px;
  }
}
.section_our_work .carrousel_our_work .each_our_work:last-child {
  margin-right: 0;
}

.section_forfaits {
  max-width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 6rem;
  position: relative;
}
@media (min-width: 1024px) {
  .section_forfaits {
    margin-bottom: 8rem;
  }
}
@media (min-width: 1370px) {
  .section_forfaits {
    margin-bottom: 11rem;
  }
}
.section_forfaits .title h3 {
  font-size: 33px;
  color: #24292e;
  font-weight: 700;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .section_forfaits .title h3 {
    text-align: center;
  }
}
.section_forfaits .subtitle {
  font-size: 16px;
  color: #24292e;
  text-align: left;
  line-height: 21px;
  margin-bottom: 20px;
  margin-top: 20px;
}
@media (min-width: 768px) {
  .section_forfaits .subtitle {
    width: 80%;
    margin: 20px auto;
    text-align: center;
  }
}
@media (min-width: 1024px) {
  .section_forfaits .subtitle {
    width: 60%;
  }
}
@media (min-width: 1370px) {
  .section_forfaits .subtitle {
    width: 45%;
  }
}
.section_forfaits .connaitre_facturation {
  font-weight: 400;
  font-size: 15px !important;
  line-height: 22px;
  color: #0075eb;
  padding: 2px 4px;
  width: fit-content;
  cursor: pointer;
  position: relative;
}
.section_forfaits .connaitre_facturation::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -2px;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #0075eb;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.section_forfaits .connaitre_facturation:hover::after {
  width: 100%;
  left: 0;
}
@media (min-width: 768px) {
  .section_forfaits .connaitre_facturation {
    text-align: center;
    margin: 0 auto;
    font-size: 15px !important;
  }
}
.section_forfaits .connaitre_facturation span {
  margin-left: 10px;
}
.section_forfaits .modal_connaitre_facturation {
  margin: 15px auto;
  position: fixed;
  box-shadow: 0 5px 10px #4e4e4e57;
  border-radius: 10px;
  padding: 20px 0;
  z-index: 10;
  background-color: white;
  display: none;
}
.section_forfaits .modal_connaitre_facturation.open {
  display: block;
  top: 30%;
  left: 5%;
  width: 90%;
}
@media (min-width: 768px) {
  .section_forfaits .modal_connaitre_facturation.open {
    left: 10%;
    width: 80%;
  }
}
@media (min-width: 1370px) {
  .section_forfaits .modal_connaitre_facturation.open {
    left: 20%;
    width: 60%;
  }
}
@media (min-width: 1650px) {
  .section_forfaits .modal_connaitre_facturation.open {
    left: 22%;
    width: 55%;
  }
}
.section_forfaits .modal_connaitre_facturation img {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.section_forfaits .modal_connaitre_facturation .each_connaitre {
  margin: 30px 15px 20px;
}
.section_forfaits .modal_connaitre_facturation .each_connaitre .title {
  font-weight: 500;
  margin-bottom: 10px;
}
.section_forfaits .modal_connaitre_facturation .each_connaitre .explain ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section_forfaits .modal_connaitre_facturation .each_connaitre .explain ul li {
  padding-left: 15px;
  margin: 5px 0;
  font-size: 14px;
  line-height: 21px;
  width: 80%;
}
.section_forfaits .choice_facturation {
  margin: 2rem auto 0;
  display: flex;
  justify-content: center;
}
.section_forfaits .choice_facturation .block_choice {
  display: flex;
  padding: 6px 5px;
  justify-content: space-around;
  background-color: #e4f1ff;
  border-radius: 30px;
  width: fit-content;
  position: relative;
}
.section_forfaits .choice_facturation .block_choice .save_up {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #0075eb;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 6px;
  border-radius: 10px;
  color: white;
}
.section_forfaits .choice_facturation .block_choice .each_choice {
  font-size: 14px;
  max-width: 100%;
  padding: 12px 10px;
  cursor: pointer;
}
@media (min-width: 375px) {
  .section_forfaits .choice_facturation .block_choice .each_choice {
    padding: 12px 18px;
  }
}
.section_forfaits .choice_facturation .block_choice .each_choice.choosen_forfait {
  background-color: white;
  border-radius: 20px;
  color: #0075eb;
  font-weight: 500;
  transition: ease-in 0.2s;
}
.section_forfaits .block_for_forfaits {
  margin-top: 6rem;
}
@media (min-width: 768px) {
  .section_forfaits .block_for_forfaits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (min-width: 1370px) {
  .section_forfaits .block_for_forfaits {
    width: 70%;
    margin: 8rem auto 0;
  }
}
.section_forfaits .block_for_forfaits .each_forfaits {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #0075eb;
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(156, 156, 156, 0.25);
  padding: 0 17px 25px;
  margin-bottom: 3rem;
  cursor: pointer;
}
.section_forfaits .block_for_forfaits .each_forfaits:hover {
  box-shadow: 0px 4px 20px rgba(49, 49, 49, 0.178);
  transition: ease-in 0.1s;
}
@media (min-width: 768px) {
  .section_forfaits .block_for_forfaits .each_forfaits {
    height: fit-content;
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .section_forfaits .block_for_forfaits .each_forfaits {
    width: 30%;
  }
}
.section_forfaits .block_for_forfaits .each_forfaits:nth-child(2) {
  border: 1px solid transparent;
}
.section_forfaits .block_for_forfaits .each_forfaits:nth-child(3) {
  border: 1px solid transparent;
}
.section_forfaits .block_for_forfaits .each_forfaits .most_popular {
  position: absolute;
  background: #0075eb;
  text-align: center;
  top: -45px;
  font-weight: 600;
  color: white;
  padding: 13px 0;
  left: -3px;
  width: 102%;
}
.section_forfaits .block_for_forfaits .each_forfaits .title_f {
  margin-top: 35px;
  text-align: center;
  font-weight: 700;
  color: #2B2B2B;
  font-size: 25px;
}
.section_forfaits .block_for_forfaits .each_forfaits .subtitle_f {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  color: #6a737d;
  line-height: 22px;
  text-align: center;
}
.section_forfaits .block_for_forfaits .each_forfaits .price_f {
  justify-content: center;
  font-weight: 500;
  font-size: 42px;
  color: #0075eb;
  margin: 20px 0 5px;
  display: flex;
}
.section_forfaits .block_for_forfaits .each_forfaits .price_f .euro {
  margin-left: 5px;
  font-size: 14px;
  color: #2B2B2B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_forfaits .block_for_forfaits .each_forfaits .price_f_month {
  justify-content: center;
  font-weight: 500;
  font-size: 42px;
  color: #0075eb;
  margin: 20px 0 5px;
  display: none;
}
.section_forfaits .block_for_forfaits .each_forfaits .price_f_month .euro {
  margin-left: 5px;
  font-size: 14px;
  color: #2B2B2B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_forfaits .block_for_forfaits .each_forfaits .infos_price {
  font-size: 15px;
  text-align: center;
  color: #2B2B2B;
  font-weight: 500;
  display: none;
}
.section_forfaits .block_for_forfaits .each_forfaits .btn_choose_f {
  display: flex;
  justify-content: center;
  margin: 22px 0 35px;
}
.section_forfaits .block_for_forfaits .each_forfaits .btn_choose_f button {
  background: #0075eb;
  border-radius: 5px;
  color: white;
  padding: 13px 16px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.section_forfaits .block_for_forfaits .each_forfaits .btn_choose_f button:hover {
  background: #2291ff;
  transition: ease-in 0.15s;
}
@media (min-width: 768px) {
  .section_forfaits .block_for_forfaits .each_forfaits .btn_choose_f button {
    padding: 10px 16px;
  }
}
.section_forfaits .block_for_forfaits .each_forfaits .block_list_services_f {
  position: relative;
  width: 85%;
  margin: 0 auto;
}
.section_forfaits .block_for_forfaits .each_forfaits .block_list_services_f.list_perso_f h4 {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
}
.section_forfaits .block_for_forfaits .each_forfaits .block_list_services_f .icone {
  position: absolute;
  left: -18px;
}
.section_forfaits .block_for_forfaits .each_forfaits .block_list_services_f h4 {
  font-weight: 500;
  color: #2B2B2B;
  line-height: 21px;
  margin: 10px 0;
  font-size: 15px;
}
.section_forfaits .block_for_forfaits .each_forfaits .block_list_services_f ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -7px;
}
.section_forfaits .block_for_forfaits .each_forfaits .block_list_services_f ul li {
  color: red;
  margin-bottom: 1px;
  font-weight: 300;
  font-size: 13.5px;
  color: #6a737d;
  line-height: 17px;
}

.section_appel_contact {
  max-width: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  z-index: 10;
}
.section_appel_contact .block_appel_contact {
  box-shadow: 10px 10px 20px rgba(148, 148, 148, 0.25);
  border-radius: 20px;
  padding: 3rem 1.3rem;
  background-image: url("/images/nouveau_marche.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
}
.section_appel_contact .block_appel_contact .absolute_appel_contact {
  background: radial-gradient(182.26% 243.9% at 50% 50%, #8BFEB2 0%, #00C443 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.8;
  border-radius: 20px;
  z-index: 2;
}
@media (min-width: 768px) {
  .section_appel_contact .block_appel_contact {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .section_appel_contact .block_appel_contact {
    display: flex;
    width: 75%;
    padding: 2rem 3.3rem;
  }
}
@media (min-width: 1370px) {
  .section_appel_contact .block_appel_contact {
    width: 57%;
    padding: 2rem 2.3rem;
  }
}
@media (min-width: 1650px) {
  .section_appel_contact .block_appel_contact {
    width: 50%;
    padding: 4rem 2.3rem;
  }
}
.section_appel_contact .block_appel_contact .block_text {
  text-align: center;
  z-index: 3;
  position: relative;
}
@media (min-width: 1024px) {
  .section_appel_contact .block_appel_contact .block_text {
    text-align: left;
    width: 67%;
  }
}
.section_appel_contact .block_appel_contact .block_text h3 {
  color: #2B2B2B;
  font-size: 23px;
  margin: 0 0 20px;
}
.section_appel_contact .block_appel_contact .block_text h4 {
  color: #2B2B2B;
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 30px;
}
@media (min-width: 1024px) {
  .section_appel_contact .block_appel_contact .block_text h4 {
    width: 70%;
    margin: 0;
  }
}
.section_appel_contact .block_appel_contact .block_btn {
  text-align: center;
  z-index: 3;
  position: relative;
}
@media (min-width: 1024px) {
  .section_appel_contact .block_appel_contact .block_btn {
    display: flex;
    align-items: center;
  }
}
.section_appel_contact .block_appel_contact .block_btn button {
  background: #4D4D4D;
  border-radius: 5px;
  padding: 10px 19px;
  border: none;
  color: white;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
@media (min-width: 1024px) {
  .section_appel_contact .block_appel_contact .block_btn button {
    padding: 12px 18px;
  }
}
.section_appel_contact .block_appel_contact .block_btn button img {
  margin-left: 5px;
  transition: ease-in 0.1s;
}
.section_appel_contact .block_appel_contact .block_btn button:hover {
  background-color: #666666;
  transition: ease-in 0.2s;
}
.section_appel_contact .block_appel_contact .block_btn button:hover img {
  margin-left: 9px;
  transition: ease-in 0.1s;
}

.section_footer {
  max-width: 100%;
  padding: 13rem 1.5rem 2rem;
  margin-top: -8rem;
  background: #fbfeff;
  box-shadow: 0px 5px 15px #c1c1c1;
}
@media (min-width: 1650px) {
  .section_footer {
    margin-top: -6rem;
  }
}
.section_footer .title {
  text-align: center;
}
.section_footer .accroche h3 {
  font-size: 18px;
  color: #2B2B2B;
  line-height: 22px;
  text-align: center;
}
.section_footer .block_for_links {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  .section_footer .block_for_links {
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    margin: 50px auto 30px;
  }
}
@media (min-width: 1370px) {
  .section_footer .block_for_links {
    width: 75%;
    margin: 70px auto 30px;
  }
}
@media (min-width: 1650px) {
  .section_footer .block_for_links {
    width: 65%;
  }
}
.section_footer .block_for_links .each_b_links .title_ebl {
  font-size: 15px;
  font-weight: 500;
  color: #2B2B2B;
}
@media (min-width: 768px) {
  .section_footer .block_for_links .each_b_links .title_ebl {
    font-size: 14px;
  }
}
@media (min-width: 1024px) {
  .section_footer .block_for_links .each_b_links .title_ebl {
    font-size: 15px;
  }
}
.section_footer .block_for_links .each_b_links .title_ebl a {
  text-decoration: none;
  color: #2B2B2B;
}
.section_footer .block_for_links .each_b_links .title_ebl.others_tebl {
  margin-bottom: 20px;
}
.section_footer .block_for_links .each_b_links .title_ebl.others_tebl i {
  margin-right: 5px;
  color: #2B2B2B;
}
.section_footer .block_for_links .each_b_links .list_of_links {
  display: flex;
  flex-direction: column;
  padding: 15px 0 20px;
  font-size: 14px;
}
@media (min-width: 1024px) {
  .section_footer .block_for_links .each_b_links .list_of_links {
    font-size: 15px;
  }
}
.section_footer .block_for_links .each_b_links .list_of_links a {
  text-decoration: none;
  margin: 5px 0;
  color: #6a737d;
  font-weight: 300;
}
.section_footer .rights {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  color: #6a737d;
  line-height: 21px;
}
@media (min-width: 768px) {
  .section_footer .rights {
    width: 80%;
    margin: 0 auto;
  }
}
.section_footer .copyrights {
  text-align: center;
  font-size: 14px;
  color: #2B2B2B;
  line-height: 21px;
  margin-top: 25px;
}
.section_footer .list_media_footer {
  margin-top: 15px;
  text-align: center;
}
.section_footer .list_media_footer a {
  text-decoration: none;
  color: #6a737d;
}
.section_footer .list_media_footer a i {
  color: #6a737d;
  font-size: 22px;
  margin: 0 5px;
}

.logo_annexe_page {
  width: 100%;
  text-align: center;
  padding: 25px 0;
}

.section_mention_politque {
  width: 88%;
  margin: 0 auto;
  padding-bottom: 4rem;
}
.section_mention_politque .btn_back_home {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section_mention_politque .btn_back_home button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: #303030;
  font-weight: 700;
  background: #76FFA5;
  position: relative;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  cursor: pointer;
}
.section_mention_politque .btn_back_home button a {
  text-decoration: none;
  color: #303030;
}
.section_mention_politque .title h1 {
  font-size: 24px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: #303030;
}
.section_mention_politque .text_corp .little_title h2 {
  font-size: 18px;
  margin: 50px 0 10px;
  color: #303030;
}
.section_mention_politque .text_corp .explain ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section_mention_politque .text_corp .explain ul li {
  margin: 15px 0;
  font-size: 14px;
  line-height: 21px;
  color: #6a737d;
}

.section_404 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url("/images/404_mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.section_success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  height: 80vh;
  text-align: center;
}
.section_success img {
  width: 100px;
  margin-bottom: 20px;
}
.section_success .success_message {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
  color: #303030;
  line-height: 20px;
}
.section_success p {
  font-size: 14px;
  font-weight: 400;
  color: #6a737d;
  line-height: 20px;
}
.section_success .redirect {
  margin-top: 25px;
}
.section_success .redirect #decompte_success {
  font-size: 16px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
