html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: linear-gradient(85deg, #d64c7f, #ee4758 50%);
}

.dark_mode_menu_active {
  position: fixed;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.644);
  display: flex;
  z-index: -10;
  width: 100%;
  opacity: 0;
  transition: ease-in 0.45s;
}
.dark_mode_menu_active.active {
  display: flex;
  z-index: 10;
  opacity: 1;
  transition: ease-in 0.45s;
}

.scrollToTop {
  position: fixed;
  height: 45px;
  display: flex;
  opacity: 0;
  bottom: 20px;
  right: 20px;
  background-color: #585252;
  width: 45px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: solid 1px #696868ab;
  cursor: pointer;
  z-index: 99999;
  transition: ease-in 0.2s;
}
.scrollToTop i {
  color: whitesmoke;
}
.scrollToTop.active {
  display: flex;
  opacity: 1;
  transition: ease-in 0.4s;
}
.scrollToTop:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.section_hamburger {
  width: fit-content;
  position: absolute;
  top: 17px;
  left: 20px;
}
.section_hamburger i {
  font-weight: 300;
  font-size: 25px;
}
@media (min-width: 1024px) {
  .section_hamburger {
    display: none;
  }
}

.menu_mobile {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  transform: translateX(-105%);
  opacity: 0.8;
  transition: ease-in-out 0.45s;
  display: flex;
}
.menu_mobile.active {
  transform: translateX(0);
  opacity: 1;
  transition: ease-in-out 0.45s;
}
.menu_mobile .services_menu_mobile {
  width: 83%;
  background-color: whitesmoke;
  height: 100%;
  overflow-y: auto;
}
.menu_mobile .services_menu_mobile .bloc_all_services {
  padding: 10px;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu {
  width: 90%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-bottom: solid 1px #cecece;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu {
    align-items: initial;
  }
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #1f1f1f;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a .icon_and_title {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a p {
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a .sub_explain {
  font-weight: 300;
  font-size: 13px;
  margin-left: 0;
  padding: 10px 0;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a i {
  font-size: 27px;
  color: #ee4758;
}
.menu_mobile .services_menu_mobile .block_others {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .block_others {
    margin-left: 40px;
  }
}
.menu_mobile .services_menu_mobile .block_others a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
  margin-bottom: 20px;
}
.menu_mobile .services_menu_mobile .bloc_contactUs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.menu_mobile .services_menu_mobile .bloc_contactUs button {
  border: solid 1px #ee4758;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 25px;
  width: 70%;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(85deg, #d64c7f, #ee4758 50%);
  position: relative;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .bloc_contactUs button {
    width: 35%;
  }
}
.menu_mobile .services_menu_mobile .bloc_contactUs button a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 600;
}
.menu_mobile .services_menu_mobile .bloc_contactUs button i {
  font-size: 17px;
  margin-left: 10px;
  color: #303030;
  margin-top: 1px;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2s;
  position: absolute;
}
@-webkit-keyframes run {
  0% {
    left: 72%;
  }
  50% {
    left: 74%;
  }
  100% {
    left: 72%;
  }
}
.menu_mobile .services_menu_mobile .bloc_socialMedia {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}
.menu_mobile .services_menu_mobile .bloc_socialMedia i {
  color: #2b2b2b;
  padding: 10px;
  font-size: 30px;
}
.menu_mobile .close_menu_mobile {
  width: 17%;
  background-color: #717171cc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_mobile .close_menu_mobile i {
  color: whitesmoke;
  font-weight: 200;
  font-size: 25px;
}

.section_header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  color: whitesmoke;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 10;
}
@media (min-width: 1024px) {
  .section_header {
    width: 90%;
    margin: 10px auto;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .section_header {
    margin: 20px auto;
    width: 63%;
  }
}
.section_header .menu_desktop {
  display: none;
}
@media (min-width: 1024px) {
  .section_header .menu_desktop {
    display: flex;
  }
}
.section_header .menu_desktop .all_links {
  display: flex;
  align-items: center;
}
.section_header .menu_desktop .all_links .services {
  font-size: 15px;
  letter-spacing: 0.8px;
  margin-right: 35px;
  font-weight: normal;
  cursor: pointer;
}
.section_header .menu_desktop .all_links .services:hover {
  color: #353535;
}
.section_header .menu_desktop .all_links a {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: whitesmoke;
  margin-right: 35px;
  font-weight: normal;
}
.section_header .menu_desktop .all_links a:hover {
  color: #353535;
}
.section_header .btn_contact_desktop {
  display: none;
}
@media (min-width: 1024px) {
  .section_header .btn_contact_desktop {
    display: flex;
    cursor: pointer;
  }
}
.section_header .btn_contact_desktop button {
  border: solid 1px #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  background-color: #303030;
  position: relative;
  cursor: pointer;
}
.section_header .btn_contact_desktop button:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: 0 2px 6px rgba(85, 85, 85, 0.466);
  transition: ease-in 0.1s;
}
.section_header .btn_contact_desktop button:hover a {
  color: #ee4758;
}
.section_header .btn_contact_desktop button a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 600;
}

.section_drop_services {
  height: 400px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 99;
  transform: translateY(-150%);
  opacity: 1;
  transition: ease-in-out 0.45s;
  display: initial;
  box-shadow: 0 2px 10px #4e4e4e;
}
.section_drop_services.active {
  transform: translateY(-23%);
}
@media (min-width: 1440px) {
  .section_drop_services.active {
    transform: translateY(-28%);
  }
}
.section_drop_services .close_menu_desktop {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.section_drop_services .close_menu_desktop i {
  color: #1f1f1f;
  font-weight: 300;
  font-size: 25px;
}
.section_drop_services .title_grey_menu {
  text-align: center;
  color: #c5c5c5;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 400;
}
.section_drop_services .little_explain_drop_services {
  width: 70%;
  margin: 2.5rem auto 2rem;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 1440px) {
  .section_drop_services .little_explain_drop_services {
    width: 60%;
    margin-top: 3rem;
  }
}
.section_drop_services .inside_drop_services {
  display: none;
}
@media (min-width: 1024px) {
  .section_drop_services .inside_drop_services {
    width: 85%;
    margin: 2rem auto;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .section_drop_services .inside_drop_services {
    width: 70%;
  }
}
.section_drop_services .inside_drop_services .each_services_menu {
  width: 22%;
  padding: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.section_drop_services .inside_drop_services .each_services_menu:hover {
  background-color: #ee475817;
  border-radius: 10px;
  transition: ease-in 0.1s;
}
.section_drop_services .inside_drop_services .each_services_menu a {
  text-decoration: none;
  color: #1f1f1f;
}
.section_drop_services .inside_drop_services .each_services_menu a .title_each_services {
  display: flex;
  align-items: center;
}
.section_drop_services .inside_drop_services .each_services_menu a .title_each_services i {
  color: #ee4758;
  margin-right: 10px;
  font-size: 20px;
}
.section_drop_services .inside_drop_services .each_services_menu a .title_each_services p {
  margin: 0;
  font-weight: 500;
}
.section_drop_services .inside_drop_services .each_services_menu a .explain_each_services {
  font-size: 14px;
  font-weight: 300;
  color: #3f3f3f;
}
.section_drop_services .inside_drop_services .each_services_menu a .explain_each_services p {
  height: 70px;
}
.section_drop_services .inside_drop_services .each_services_menu a button {
  border: none;
  width: fit-content;
  background-color: transparent;
  padding-left: 0;
  padding-right: 5px;
  padding-bottom: 4px;
  border-bottom: solid 1px #363636;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

.section_all .section_presentation {
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .section_all .section_presentation {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .section_all .section_presentation {
    width: 63%;
    margin-top: 4rem;
  }
}
.section_all .section_presentation .title_fadeup {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .section_all .section_presentation .title_fadeup {
    justify-content: center;
  }
}
.section_all .section_presentation .title_fadeup p {
  margin: 6px 10px 6px 0;
  font-size: 32px;
  font-weight: bold;
  color: whitesmoke;
}
@media (min-width: 768px) {
  .section_all .section_presentation .title_fadeup p {
    font-size: 45px;
  }
}
@media (min-width: 1440px) {
  .section_all .section_presentation .title_fadeup p {
    font-size: 60px;
  }
}
.section_all .section_presentation .explanation_agency h1 {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f8f8f8;
}
@media (min-width: 768px) {
  .section_all .section_presentation .explanation_agency h1 {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  .section_all .section_presentation .explanation_agency h1 {
    width: 70%;
    margin: 20px auto;
  }
}
.section_all .section_presentation .explanation_agency h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 40px;
  color: #f8f8f8;
}
@media (min-width: 768px) {
  .section_all .section_presentation .explanation_agency h3 {
    font-size: 17px;
  }
}
.section_all .section_presentation .btn_contact {
  width: 100%;
  display: flex;
  justify-content: center;
}
.section_all .section_presentation .btn_contact button {
  cursor: pointer;
  border: solid 1px #303030;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 70px;
  border-radius: 25px;
  width: fit-content;
  font-family: "Roboto", sans-serif;
  background-color: #303030;
  position: relative;
}
.section_all .section_presentation .btn_contact button a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 600;
}
.section_all .section_presentation .btn_contact button i {
  font-size: 17px;
  margin-left: 10px;
  color: #eeeeee;
  margin-top: 0px;
  -webkit-animation: linear infinite alternate;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2s;
  position: absolute;
}
@-webkit-keyframes run {
  0% {
    left: 72%;
  }
  50% {
    left: 74%;
  }
  100% {
    left: 72%;
  }
}
.section_all .section_presentation .btn_contact button:hover {
  background-color: whitesmoke;
  border-color: whitesmoke;
  box-shadow: 0 2px 6px rgba(85, 85, 85, 0.466);
  transition: ease-in 0.2s;
}
.section_all .section_presentation .btn_contact button:hover a {
  color: #ee4758;
}
.section_all .section_presentation .btn_contact button:hover i {
  color: #303030;
}
.section_all .section_presentation .img_presentation {
  margin-top: 2.5rem;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-image: url("https://images.unsplash.com/photo-1559028012-481c04fa702d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1235&q=80");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
@media (min-width: 1440px) {
  .section_all .section_presentation .img_presentation {
    height: 500px;
  }
}
.section_all .section_test_potentiel {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  margin-top: 8.5rem;
  padding: 2.5rem 1rem;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: bottom;
}
@media (min-width: 1024px) {
  .section_all .section_test_potentiel {
    width: 90%;
    margin: 8.5rem auto 2rem;
    border-radius: 10px;
    padding: 2.5rem 0;
  }
}
@media (min-width: 1440px) {
  .section_all .section_test_potentiel {
    width: 63%;
  }
}
.section_all .section_test_potentiel .title_potentiel {
  margin: 2rem 0;
  font-size: 32px;
  color: whitesmoke;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}
.section_all .section_test_potentiel .subtitle_potentiel {
  font-size: 15px;
  color: whitesmoke;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
  width: 80%;
}
.section_all .section_test_potentiel .btn_potentiel {
  text-align: center;
  margin-top: 3rem;
}
.section_all .section_test_potentiel .btn_potentiel button {
  width: fit-content;
  padding: 10px 7px;
  border: none;
  border-bottom: solid 1px whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.8px;
  font-size: 18px;
}
.section_all .section_all_services {
  padding: 8.5rem 0;
  background-color: whitesmoke;
}
.section_all .section_all_services .inside_width_all_services {
  width: 90%;
  margin: 0 auto;
}
.section_all .section_all_services .inside_width_all_services .principal_title_all_services {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #1f1f1f;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services {
  margin: 3.5rem 0;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
@media (min-width: 1440px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 1024px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services.__pair {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1440px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
    width: 73%;
    margin-bottom: 2rem;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img {
  width: 100%;
}
@media (min-width: 1024px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img {
    width: 50%;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgVitrine {
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgVitrine {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgEcommerce {
  background-image: url("https://images.unsplash.com/photo-1487014679447-9f8336841d58?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1466&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgEcommerce {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgIdentite {
  background-image: url("https://images.unsplash.com/photo-1475669698648-2f144fcaaeb1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: initial;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgIdentite {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgAccompagnement {
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgAccompagnement {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more {
  width: 100%;
  margin: 2rem 0;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more {
    width: 50%;
    padding-left: 4rem;
  }
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more.__pairMore {
    padding-left: 0;
    padding-right: 4rem;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .title_more p {
  font-size: 1.375em;
  font-weight: 600;
  background: linear-gradient(85deg, #d64c7f, #ee4758 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .explain_more p {
  margin: 0;
  line-height: 1.5;
  color: #1f1f1f;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .explain_more .kpi_explain {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .explain_more .kpi_explain p {
  margin: 4px 0;
  margin-right: 15px;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 300;
  color: #ee4758;
  border-radius: 5px;
  border: solid 0.5px rgba(254, 148, 215, 0.3);
  background-color: rgba(254, 148, 215, 0.05);
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .see_pricing {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #818181;
  font-size: 14px;
  width: fit-content;
  border: none;
  border-bottom: solid 1px #818181;
  padding-bottom: 3px;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .see_pricing i {
  font-size: 12px;
  margin-left: 7px;
}

/*# sourceMappingURL=style.css.map */
