html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  background: linear-gradient(85deg, #4c4ed6, #364cc7 50%);
}

.dark_mode_menu_active {
  position: fixed;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.644);
  display: flex;
  z-index: -10;
  width: 100%;
  opacity: 0;
  transition: ease-in 0.45s;
}
.dark_mode_menu_active.active {
  display: flex;
  z-index: 10;
  opacity: 1;
  transition: ease-in 0.45s;
}

.scrollToTop {
  position: fixed;
  height: 45px;
  display: flex;
  opacity: 0;
  bottom: 20px;
  right: 20px;
  background-color: #585252;
  width: 45px;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  border: solid 1px #696868ab;
  cursor: pointer;
  z-index: 99999;
  transition: ease-in 0.2s;
}
.scrollToTop i {
  color: whitesmoke;
}
.scrollToTop.active {
  display: flex;
  opacity: 1;
  transition: ease-in 0.4s;
}
.scrollToTop:hover {
  transform: scale(1.1);
  transition: ease-in 0.2s;
}

.section_hamburger {
  width: fit-content;
  position: absolute;
  top: 17px;
  left: 20px;
}
.section_hamburger i {
  font-weight: 300;
  font-size: 25px;
}
@media (min-width: 1024px) {
  .section_hamburger {
    display: none;
  }
}

.menu_mobile {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
  height: auto;
  position: fixed;
  z-index: 999;
  transform: translateX(-110%);
  opacity: 0.8;
  transition: ease-in-out 0.45s;
  display: flex;
}
.menu_mobile.active {
  transform: translateX(0);
  opacity: 1;
  transition: ease-in-out 0.45s;
  box-shadow: 0 2px 10px #292929;
  background-color: transparent;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.menu_mobile .services_menu_mobile {
  width: 83%;
  background-color: whitesmoke;
  height: 100%;
  overflow-y: auto;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.menu_mobile .services_menu_mobile .bloc_all_services {
  padding: 10px;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu {
    align-items: initial;
  }
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #1f1f1f;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a .icon_and_title {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a p {
  margin: 0;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a .sub_explain {
  font-weight: 300;
  font-size: 13px;
  margin-left: 0;
  padding: 0;
  width: 85%;
}
.menu_mobile .services_menu_mobile .bloc_all_services .each_services_mobile_menu a i {
  font-size: 16px;
  color: #2daf4d;
}
.menu_mobile .services_menu_mobile .block_others {
  margin-left: 24px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .block_others {
    margin-left: 40px;
  }
}
.menu_mobile .services_menu_mobile .block_others a {
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
  margin-bottom: 20px;
}
.menu_mobile .services_menu_mobile .bloc_contactUs {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.menu_mobile .services_menu_mobile .bloc_contactUs button {
  border: solid 1px #202947;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 17px;
  border-radius: 25px;
  width: fit-content;
  font-family: "Raleway", sans-serif;
  background: #202947;
  position: relative;
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
}
@media (min-width: 768px) {
  .menu_mobile .services_menu_mobile .bloc_contactUs button {
    width: 35%;
  }
}
.menu_mobile .services_menu_mobile .bloc_contactUs button i {
  font-size: 11px;
  margin-left: 10px;
  color: whitesmoke;
  margin-top: 1px;
}
@-webkit-keyframes run {
  0% {
    left: 72%;
  }
  50% {
    left: 74%;
  }
  100% {
    left: 72%;
  }
}
.menu_mobile .services_menu_mobile .bloc_socialMedia {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}
.menu_mobile .services_menu_mobile .bloc_socialMedia i {
  color: #2b2b2b;
  padding: 10px;
  font-size: 30px;
}
.menu_mobile .close_menu_mobile {
  width: 17%;
  background-color: #171717e6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.menu_mobile .close_menu_mobile i {
  color: whitesmoke;
  font-weight: 200;
  font-size: 25px;
}

.section_header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  color: whitesmoke;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  z-index: 10;
}
@media (min-width: 1024px) {
  .section_header {
    width: 90%;
    margin: 10px auto;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .section_header {
    margin: 20px auto;
    width: 75%;
  }
}
.section_header .menu_desktop {
  display: none;
}
@media (min-width: 1024px) {
  .section_header .menu_desktop {
    display: flex;
    margin-top: 4px;
  }
}
.section_header .menu_desktop .all_links {
  display: flex;
  align-items: center;
}
.section_header .menu_desktop .all_links .services {
  font-size: 15px;
  letter-spacing: 0.2px;
  margin-right: 35px;
  font-weight: normal;
  cursor: pointer;
  font-weight: 600;
}
.section_header .menu_desktop .all_links .services:hover {
  color: rgba(255, 255, 255, 0.5);
}
.section_header .menu_desktop .all_links a {
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.4px;
  color: whitesmoke;
  margin-right: 35px;
  font-weight: normal;
  font-weight: 600;
}
.section_header .menu_desktop .all_links a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.section_header .btn_contact_desktop {
  display: none;
}
@media (min-width: 1024px) {
  .section_header .btn_contact_desktop {
    display: flex;
    cursor: pointer;
  }
}
.section_header .btn_contact_desktop button {
  border: solid 1px #30303000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 8px 15px;
  font-family: "Raleway", sans-serif;
  background-color: #ffffff41;
  position: relative;
  cursor: pointer;
}
.section_header .btn_contact_desktop button:hover {
  background-color: rgba(245, 245, 245, 0.342);
  border-color: rgba(245, 245, 245, 0);
  transition: ease 0.15s;
}
.section_header .btn_contact_desktop button:hover a {
  color: #ffffff;
}
.section_header .btn_contact_desktop button a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 600;
}

.section_drop_services {
  height: 400px;
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 99;
  transform: translateY(-150%);
  opacity: 1;
  transition: ease-in-out 0.45s;
  display: initial;
  box-shadow: 0 2px 10px #4e4e4e;
}
.section_drop_services.active {
  transform: translateY(-23%);
}
@media (min-width: 1440px) {
  .section_drop_services.active {
    transform: translateY(-28%);
  }
}
.section_drop_services .close_menu_desktop {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.section_drop_services .close_menu_desktop i {
  color: #1f1f1f;
  font-weight: 300;
  font-size: 25px;
}
.section_drop_services .title_grey_menu {
  text-align: center;
  color: #c5c5c5;
  font-size: 12px;
  letter-spacing: 1.3px;
  font-weight: 600;
}
.section_drop_services .little_explain_drop_services {
  width: 70%;
  margin: 2.5rem auto 2rem;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  color: #747474;
}
@media (min-width: 1440px) {
  .section_drop_services .little_explain_drop_services {
    width: 50%;
    margin-top: 3rem;
  }
}
.section_drop_services .inside_drop_services {
  display: none;
}
@media (min-width: 1024px) {
  .section_drop_services .inside_drop_services {
    width: 85%;
    margin: 2rem auto;
    display: flex;
  }
}
@media (min-width: 1440px) {
  .section_drop_services .inside_drop_services {
    width: 60%;
  }
}
.section_drop_services .inside_drop_services .each_services_menu {
  width: 22%;
  padding: 15px;
  margin-right: 15px;
  cursor: pointer;
}
.section_drop_services .inside_drop_services .each_services_menu:hover {
  background-color: #47eec417;
  border-radius: 10px;
  transition: ease-in 0.1s;
}
.section_drop_services .inside_drop_services .each_services_menu a {
  text-decoration: none;
  color: #1f1f1f;
}
.section_drop_services .inside_drop_services .each_services_menu a .title_each_services {
  display: flex;
  align-items: center;
  font-weight: 600;
}
.section_drop_services .inside_drop_services .each_services_menu a .title_each_services i {
  color: #2daf4d;
  margin-right: 10px;
  font-size: 20px;
}
.section_drop_services .inside_drop_services .each_services_menu a .title_each_services p {
  margin: 0;
  font-weight: 500;
}
.section_drop_services .inside_drop_services .each_services_menu a .explain_each_services {
  font-size: 14px;
  font-weight: 500;
  color: #747474;
}
.section_drop_services .inside_drop_services .each_services_menu a .explain_each_services p {
  height: 70px;
}
.section_drop_services .inside_drop_services .each_services_menu a button {
  border: none;
  width: fit-content;
  background-color: transparent;
  padding-left: 0;
  padding-right: 5px;
  padding-bottom: 4px;
  border-bottom: solid 1px #363636;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.section_all .section_presentation {
  width: 90%;
  margin: 0 auto;
  margin-top: 2.5rem;
}
@media (min-width: 768px) {
  .section_all .section_presentation {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .section_all .section_presentation {
    width: 63%;
    margin-top: 8rem;
  }
}
.section_all .section_presentation .title_fadeup {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .section_all .section_presentation .title_fadeup {
    justify-content: center;
  }
}
.section_all .section_presentation .title_fadeup p {
  margin: 6px 10px 6px 0;
  font-size: 32px;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: -2px;
}
@media (min-width: 768px) {
  .section_all .section_presentation .title_fadeup p {
    font-size: 45px;
    margin: 0px 10px 0px 0;
  }
}
@media (min-width: 1440px) {
  .section_all .section_presentation .title_fadeup p {
    font-size: 70px;
  }
}
.section_all .section_presentation .explanation_agency h1 {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f8f8f8;
}
@media (min-width: 768px) {
  .section_all .section_presentation .explanation_agency h1 {
    font-size: 19px;
  }
}
@media (min-width: 1024px) {
  .section_all .section_presentation .explanation_agency h1 {
    width: 70%;
    margin: 50px auto;
  }
}
.section_all .section_presentation .explanation_agency h3 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 35px;
  margin-bottom: 40px;
  color: #f8f8f8;
}
@media (min-width: 768px) {
  .section_all .section_presentation .explanation_agency h3 {
    font-size: 17px;
  }
}
.section_all .section_presentation .btn_contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .section_all .section_presentation .btn_contact {
    flex-direction: row;
  }
}
.section_all .section_presentation .btn_contact .take_contact {
  cursor: pointer;
  border: solid 1px #202947;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 25px;
  width: fit-content;
  font-family: "Raleway", sans-serif;
  background-color: #202947;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section_all .section_presentation .btn_contact .take_contact {
    margin-bottom: 0;
    padding: 12px 17px 12px 17px;
  }
}
.section_all .section_presentation .btn_contact .take_contact a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 700;
}
.section_all .section_presentation .btn_contact .take_contact i {
  font-size: 11px;
  margin-left: 10px;
  color: #eeeeee;
  margin-top: 1px;
}
@-webkit-keyframes run {
  0% {
    left: 88%;
  }
  50% {
    left: 86%;
  }
  100% {
    left: 88%;
  }
}
.section_all .section_presentation .btn_contact .take_contact:hover {
  background-color: rgba(245, 245, 245, 0.253);
  border-color: rgba(245, 245, 245, 0);
  transition: ease 0.15s;
}
.section_all .section_presentation .btn_contact .take_contact:hover a {
  color: whitesmoke;
}
.section_all .section_presentation .btn_contact .take_contact:hover i {
  color: whitesmoke;
}
.section_all .section_presentation .btn_contact .see_tarifs {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.2px;
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .section_all .section_presentation .btn_contact .see_tarifs {
    margin-left: 20px;
  }
}
.section_all .section_presentation .btn_contact .see_tarifs a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
  position: relative;
}
.section_all .section_presentation .btn_contact .see_tarifs a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: -9px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.section_all .section_presentation .btn_contact .see_tarifs a:hover::after {
  width: 100%;
  left: 0;
}
.section_all .section_presentation .btn_contact .see_tarifs i {
  font-size: 11px;
  margin-left: 10px;
  color: whitesmoke;
  margin-top: 1px;
}
@-webkit-keyframes run {
  0% {
    left: 88%;
  }
  50% {
    left: 86%;
  }
  100% {
    left: 88%;
  }
}
.section_all .section_presentation .img_presentation {
  margin-top: 2.5rem;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-image: url("https://images.unsplash.com/photo-1559028012-481c04fa702d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1235&q=80");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}
@media (min-width: 1440px) {
  .section_all .section_presentation .img_presentation {
    height: 500px;
    margin-top: 6rem;
  }
}
.section_all .section_test_potentiel {
  background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80");
  margin-top: 8.5rem;
  padding: 2.5rem 1rem;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: unset;
}
@media (min-width: 1024px) {
  .section_all .section_test_potentiel {
    width: 90%;
    margin: 8.5rem auto 2rem;
    border-radius: 10px;
    padding: 2.5rem 0;
  }
}
@media (min-width: 1440px) {
  .section_all .section_test_potentiel {
    width: 63%;
  }
}
.section_all .section_test_potentiel .title_potentiel {
  margin: 2rem 0;
  font-size: 32px;
  color: whitesmoke;
  text-align: center;
  line-height: 1.5;
  font-weight: 600;
}
.section_all .section_test_potentiel .subtitle_potentiel {
  font-size: 15px;
  color: whitesmoke;
  margin: 1rem auto;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
  width: 80%;
}
.section_all .section_test_potentiel .btn_potentiel {
  text-align: center;
  margin-top: 3rem;
}
.section_all .section_test_potentiel .btn_potentiel button {
  cursor: pointer;
  width: fit-content;
  padding: 10px 7px;
  border: none;
  border-bottom: solid 1px whitesmoke;
  background-color: transparent;
  color: whitesmoke;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1.8px;
  font-size: 14px;
  font-weight: 600;
}
.section_all .section_our_clients {
  padding: 6.5rem 0 1rem;
  background-color: whitesmoke;
}
.section_all .section_our_clients .inside_our_clients {
  width: 90%;
  margin: 0 auto;
}
.section_all .section_our_clients .inside_our_clients .title {
  text-align: initial;
  font-size: 32px;
  font-weight: bold;
  color: #1f1f1f;
  margin-bottom: 3.5rem;
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .title {
    text-align: center;
  }
}
.section_all .section_our_clients .inside_our_clients .subtitle {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  color: #1f1f1f;
  margin-bottom: 3.5rem;
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .subtitle {
    width: 70%;
    text-align: center;
    margin: 0 auto 3.5rem;
  }
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients {
    width: 90%;
  }
}
@media (min-width: 1366px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients {
    width: 65%;
  }
}
@media (min-width: 1700px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients {
    width: 58%;
  }
}
.section_all .section_our_clients .inside_our_clients .block_for_clients .col_client {
  display: flex;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client.__space_bet_client {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    align-items: center;
  }
}
.section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 0;
  width: 50%;
  text-align: center;
  background-color: white;
  box-shadow: 0 30px 40px 0 rgba(212, 217, 232, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #576fb3;
  text-align: center;
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    width: 125px;
    padding: 0;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client {
    width: 150px;
  }
}
.section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__none_mobile {
  display: none;
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__none_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 85px;
    width: 125px;
    margin: 10px 0;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__none_mobile {
    width: 150px;
  }
}
.section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__size_medium {
  font-size: 18px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding: 1.5rem 0;
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__size_medium {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
    height: 85px;
    width: 125px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__size_medium {
    width: 150px;
  }
}
.section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__size_large {
  font-size: 24px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__size_large {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
    height: 85px;
    width: 125px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__size_large {
    width: 150px;
  }
}
@media (min-width: 768px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__widthSize {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 85px;
    width: 125px;
    margin: 10px 0;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .section_all .section_our_clients .inside_our_clients .block_for_clients .col_client .each_client.__widthSize {
    width: 150px;
  }
}
.section_all .section_our_clients .inside_our_clients .and_more {
  font-size: 14px;
  font-style: italic;
  color: #5e5e5e;
  margin-top: 1rem;
  text-align: center;
}
.section_all .section_all_services {
  padding: 8.5rem 0 8.5rem;
  background-color: whitesmoke;
}
@media (min-width: 1366px) {
  .section_all .section_all_services {
    margin-top: -1px;
  }
}
.section_all .section_all_services .inside_width_all_services {
  width: 90%;
  margin: 0 auto;
}
.section_all .section_all_services .inside_width_all_services .principal_title_all_services {
  text-align: initial;
  font-size: 32px;
  font-weight: bold;
  color: #1f1f1f;
}
@media (min-width: 1024px) {
  .section_all .section_all_services .inside_width_all_services .principal_title_all_services {
    text-align: center;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services {
  margin: 3.5rem 0;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5rem;
}
@media (min-width: 1440px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
    margin-bottom: 4.5rem;
  }
}
@media (min-width: 1024px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services.__pair {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1440px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services {
    width: 73%;
    margin-bottom: 2rem;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img {
  width: 100%;
}
@media (min-width: 1024px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img {
    width: 50%;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgVitrine {
  background-image: url("https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: left;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgVitrine {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgEcommerce {
  background-image: url("https://images.unsplash.com/photo-1487014679447-9f8336841d58?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1466&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgEcommerce {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgIdentite {
  background-image: url("https://images.unsplash.com/photo-1475669698648-2f144fcaaeb1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: initial;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgIdentite {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgAccompagnement {
  background-image: url("https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .block_img.__imgAccompagnement {
    height: 300px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more {
  width: 100%;
  margin: 2rem 0;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more {
    width: 50%;
    padding-left: 4rem;
  }
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more.__pairMore {
    padding-left: 0;
    padding-right: 4rem;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .title_more p {
  font-size: 24px;
  font-weight: 600;
  background: #202947;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1440px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .title_more p {
    font-size: 26px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .explain_more p {
  margin: 0;
  line-height: 1.8;
  color: #575757;
  font-size: 15px;
  font-weight: 500;
}
@media (min-width: 1440px) {
  .section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .explain_more p {
    font-size: 16px;
  }
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .explain_more .kpi_explain {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 20px;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .explain_more .kpi_explain p {
  margin: 4px 0;
  margin-right: 15px;
  padding: 4px 10px;
  font-size: 13px;
  font-weight: 300;
  color: #126827;
  border-radius: 5px;
  border: solid 0.5px #2daf4d62;
  background-color: #2daf4d10;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .see_pricing {
  margin-top: 20px;
  display: flex;
  align-items: center;
  color: #818181;
  font-size: 14px;
  width: fit-content;
  border: none;
}
.section_all .section_all_services .inside_width_all_services .block_list_of_services .each_block_services .bloc_explain_more .see_pricing i {
  font-size: 12px;
  margin-left: 7px;
}
.section_all .section_choice_pricing {
  padding: 6.5rem 0 8.5rem;
  position: relative;
  z-index: 2;
}
.section_all .section_choice_pricing::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(85deg, #4c4ed6, #364cc7 50%);
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-10deg);
}
@media (min-width: 768px) {
  .section_all .section_choice_pricing::before {
    transform: skewY(-5deg);
  }
}
@media (min-width: 1440px) {
  .section_all .section_choice_pricing::before {
    height: 105%;
  }
}
.section_all .section_choice_pricing .section_all_choice_pricing {
  width: 90%;
  margin: 0 auto;
}
.section_all .section_choice_pricing .section_all_choice_pricing .title {
  text-align: initial;
  font-size: 32px;
  font-weight: bold;
  color: whitesmoke;
}
@media (min-width: 1024px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .title {
    text-align: center;
  }
}
.section_all .section_choice_pricing .section_all_choice_pricing .subtitle {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #f8f8f8;
}
@media (min-width: 1024px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .subtitle {
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .subtitle {
    width: 70%;
    margin: 60px auto;
  }
}
.section_all .section_choice_pricing .section_all_choice_pricing .subtitle .important_informations {
  font-weight: bold;
  color: #15161b;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing {
  margin: 2rem 0;
  padding: 2.5rem 0;
  background-color: #171f3b;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing {
    width: 48%;
  }
}
@media (min-width: 1440px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing {
    width: 24%;
  }
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .popular {
  background-color: #46ce6a;
  font-size: 15px;
  width: 200px;
  letter-spacing: 1.5px;
  text-align: center;
  height: 30px;
  color: white;
  line-height: 30px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 32px;
  font-weight: 800;
  left: -50px;
  position: absolute;
  box-shadow: 0 2px 3px #353535;
}
@media (min-width: 1440px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .popular {
    top: 23px;
    left: -56px;
  }
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing p {
  margin: 0;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .name_of_pack {
  text-align: center;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .name_of_pack .name {
  font-size: 28px;
  font-weight: 700;
  color: whitesmoke;
  letter-spacing: 3px;
  margin-bottom: 2rem;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .name_of_pack .precision_subtitle_pack {
  width: 80%;
  margin: 0 auto;
  color: whitesmoke;
  font-size: 14px;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .name_of_pack .price_of_pack {
  font-size: 36px;
  display: flex;
  align-items: center;
  margin: 4rem 0;
  width: 100%;
  justify-content: center;
  font-weight: 700;
  color: whitesmoke;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .name_of_pack .price_of_pack span {
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
  color: whitesmoke;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack {
    height: 800px;
  }
}
@media (min-width: 1440px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack {
    height: 850px;
  }
}
@media (min-width: 1800px) {
  .section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack {
    height: 770px;
  }
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack .start_Of {
  width: 100%;
  font-size: 14px;
  font-style: italic;
  color: whitesmoke;
  margin-bottom: 2rem;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack .title_feature {
  font-size: 16px;
  color: whitesmoke;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 17px 0;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack .title_feature i {
  margin-right: 10px;
  font-size: 12px;
  font-weight: 300;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack .explain_features {
  margin: 10px 0 20px 0;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .all_features_inside_pack .explain_features p {
  font-size: 14px;
  color: whitesmoke;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .btn_contact_pack {
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}
.section_all .section_choice_pricing .section_all_choice_pricing .block_for_each_pricing .each_pricing .btn_contact_pack button {
  cursor: pointer;
  border: solid 1px whitesmoke;
  padding: 12px 17px;
  border-radius: 25px;
  width: fit-content;
  font-family: "Raleway", sans-serif;
  background-color: whitesmoke;
  letter-spacing: 1px;
  color: #202947;
  font-weight: 600;
}
.section_all .section_all_clients {
  height: 200px;
  background-color: whitesmoke;
  margin-top: -4.5rem;
}

.section_footer {
  background-color: #1f1f1f;
  padding: 5rem 0;
}
.section_footer .logo_footer {
  font-size: 32px;
  color: whitesmoke;
  text-align: center;
  margin: 2rem 0;
  font-weight: 700;
}
.section_footer .subtitle_footer {
  color: whitesmoke;
  font-weight: 500;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
}
.section_footer .btn_contact_footer {
  width: 100%;
  text-align: center;
}
.section_footer .btn_contact_footer button {
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: whitesmoke;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  color: #1f1f1f;
}
.section_footer .btn_contact_footer button i {
  font-size: 11px;
  margin-left: 10px;
  color: #1f1f1f;
  margin-top: 1px;
}
.section_footer .langueAndCopyright {
  font-size: 12px;
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  margin: 2rem auto;
  color: whitesmoke;
}
.section_footer .langueAndCopyright span i {
  margin-right: 5px;
}
.section_footer .all_links_footer {
  width: 70%;
  margin: 0 auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section_footer .all_links_footer .block_list .title {
  margin-bottom: 20px;
  color: whitesmoke;
  font-weight: 600;
}
.section_footer .all_links_footer .block_list .title i {
  margin-right: 10px;
  color: whitesmoke;
  font-weight: 300;
  font-size: 11px;
}
.section_footer .all_links_footer .block_list .list_of {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.section_footer .all_links_footer .block_list .list_of a {
  text-decoration: none;
  color: whitesmoke;
  margin: 10px 0;
  font-size: 14px;
}
.section_footer .all_rights {
  text-align: center;
  font-size: 14px;
  width: 80%;
  margin: 2rem auto 1rem;
  color: whitesmoke;
}
.section_footer .bloc_socialMedia {
  margin-top: 25px;
  width: 100%;
  text-align: center;
}
.section_footer .bloc_socialMedia i {
  color: whitesmoke;
  padding: 10px;
  font-size: 30px;
}

.section_contact_mobile {
  position: fixed;
  transform: translateY(-105%);
  background-color: #fafafa;
  z-index: 999999999;
  opacity: 0;
  transition: ease-in 0.4s;
}
@media (min-width: 375px) {
  .section_contact_mobile {
    padding-bottom: 3rem;
  }
}
.section_contact_mobile.open {
  transform: translateY(0%);
  opacity: 1;
  transition: ease-in 0.4s;
  width: 100%;
  height: 100%;
}
.section_contact_mobile .close_menu_mobile {
  position: absolute;
  top: 20px;
  right: 20px;
}
.section_contact_mobile .close_menu_mobile i {
  font-weight: 300;
  font-size: 30px;
}
.section_contact_mobile .title {
  text-align: center;
  margin-top: 4rem;
  font-size: 28px;
  padding: 2rem 0;
}
.section_contact_mobile .explain {
  text-align: center;
  margin: 1rem auto 3.5rem;
  width: 80%;
  font-size: 14px;
}
.section_contact_mobile .formulaire_contact {
  width: 80%;
  margin: 0 auto;
}
.section_contact_mobile .formulaire_contact .form_control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.section_contact_mobile .formulaire_contact .form_control.success input {
  border-bottom-color: #2ecc71;
}
.section_contact_mobile .formulaire_contact .form_control.success .fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.section_contact_mobile .formulaire_contact .form_control.success small {
  visibility: visible;
}
.section_contact_mobile .formulaire_contact .form_control.error input {
  border-bottom-color: #e74c3c;
}
.section_contact_mobile .formulaire_contact .form_control.error .fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}
.section_contact_mobile .formulaire_contact .form_control.error small {
  visibility: visible;
}
.section_contact_mobile .formulaire_contact .form_control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.section_contact_mobile .formulaire_contact .form_control input {
  border: none;
  border-bottom: solid 1px #cacaca;
  padding: 8px;
  width: 95%;
}
.section_contact_mobile .formulaire_contact .form_control input:focus {
  outline: 0;
}
.section_contact_mobile .formulaire_contact .form_control i {
  visibility: hidden;
  position: absolute;
  top: 6px;
  right: 4px;
}
.section_contact_mobile .formulaire_contact .form_control i.icon_select {
  top: 26px;
  right: 23px;
}
.section_contact_mobile .formulaire_contact .form_control select {
  margin: 1rem 0;
  width: 100%;
  padding: 10px;
  border: solid 1px #cacaca;
}
.section_contact_mobile .formulaire_contact .form_control textarea {
  width: 93%;
  height: 200px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  border: solid 1px #cacaca;
}
.section_contact_mobile .formulaire_contact .btn_contact_mobile {
  text-align: center;
  margin-bottom: 2rem;
}
.section_contact_mobile .formulaire_contact .btn_contact_mobile button {
  margin-top: 1rem;
  border: none;
  background: #2051b9;
  width: fit-content;
  padding: 15px 75px;
  color: whitesmoke;
  border-radius: 25px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.section_contact_mobile .formulaire_contact .btn_contact_mobile button:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
